.loading-spinner {
  border: 8px solid #f3f3f3;
  /* Light grey background */
  border-top: 8px solid #643a7a;
  /* Color of the spinner */
  border-radius: 50%;
  /* Makes the shape round */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  /* Animation to rotate */
  margin: 50px auto;
  /* Centers the spinner */
}

/* Keyframes for the spinning effect */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}